<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vruum!</title>

    <!--Meu CSS-->
    <link rel="stylesheet" 
          href="css/estilo_principal.css">

    <!--Favicon-->
    <link rel="shortcut icon" 
          href="img/favicon.ico" />

    <!--Fonte Electrolize-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" >

</head>

<body>
    <div class="container">
        <header class="logo">
            <img class="img-card" src="img/logo1.svg">
        </header>
        <!--Logo-->

        <!--CARD 1-->
        <section>
            <div class="card-body1">
                <div class="card">
                    <div class="face face1 card1">
                        <div class="content">
                            <img id="cooper" 
                                src="img/cooper.svg">
                            <h3>Consumo</h3>
                        </div>
                        <!--content img-->
                    </div>
                    <!--face face1 card1-->
                    <div class="face face2 card1">
                        <div class="content">
                            <p>Calcular a média de consumo do seu carro.</p>
                            <a href="/consumo">Clique para ver mais →</a>
                        </div>
                        <!--content-->
                    </div>
                    <!--face face2 card1-->
                </div>
                <!--Card1-->
            </div>
        
        <!--CARD 2-->
        
            <div class="card-body2">
                <div class="card">
                    <div class="face face1 card2">
                        <div class="content">
                            <img id="fuel" 
                                 src="img/fuel.svg">
                            <h3>Combustíveis</h3>
                        </div>
                        <!--content-->
                    </div>
                    <!--face face1 card2-->
                    <div class="face face2">
                        <div class="content">
                            <p>Comparar o preço do Álcool e da Gasolina para saber qual o mais vantajoso para abastecer.</p>
                            <a href="/alcool_gasolina">Clique para ver mais →</a>
                        </div>
                        <!--content-->
                    </div>
                    <!--face face2-->
                </div>
                <!--Card2-->
            </div>
        

        <!--CARD 3-->
        
            <div class="card-body3">
                <div class="card">
                    <div class="face face1 card3">
                        <div class="content">
                            <img src="img/road.svg">
                            <h3>Percurso</h3>
                        </div>
                        <!--content-->
                    </div>
                    <!--face face1 card3-->
                    <div class="face face2">
                        <div class="content">
                            <p>Calcular qual será o gasto total em uma viagem.</p>
                            <a href="/custo_percurso">Clique para ver mais →</a>
                        </div>
                        <!--content-->
                    </div>
                    <!--face face2-->
                </div>
                <!--card3-->
            </div>
        </section>

    </div>
    <!--Container-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <!--MeuJavaScript-->
    <script href="js/principal.js"></script>

</body>

</html>